/node_modules
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
/*.log
.DS_Store
Thumbs.db

# --- LARAVEL CORE ---
# Giữ lại cấu trúc thư mục bootstrap nhưng bỏ qua file cache build
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# --- PUBLIC FILES ---
/public/build
/public/hot
/public/storage

# Quan trọng: Giữ lại thư mục uploads nhưng không lưu ảnh rác lên Git
# Điều này giúp folder tồn tại trên Render để code không bị lỗi "Directory not found"
/public/uploads/product/*
!/public/uploads/product/.gitignore

# --- STORAGE ---
/storage/*.key
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# --- EDITOR & OS ---
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
._*
.Spotlight-V100
.Trashes