/node_modules
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
/*.log
.DS_Store
Thumbs.db

# Giữ lại thư mục public nhưng bỏ qua các file build tạm
/public/build
/public/hot
/public/storage

# Laravel storage
/storage/*.key
/storage/app/public/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# Editor folders
.idea/
.vscode/